::selection {
  background-color: #3cebff42;
}

:root {
  font-family: Inter;
}

h1 {
  font-family: "Inter Medium";
}

.particle-effect {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;
}

[data-id="app-content"] {
  display: flex;
  flex-direction: column;

  padding: 0;

  --nav-bar-height: 4rem;
  --sections-height: calc(100% - var(--nav-bar-height));

  scroll-padding-top: var(--nav-bar-height);

  scroll-behavior: smooth;
}

[data-id="app-content"] > .nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  height: var(--nav-bar-height);

  background-color: #111;
}

[data-id="app-content"] > section {
  min-height: 500px;
  height: var(--sections-height);
}

.section {
  padding-inline: 3rem;
  padding-block: 2rem;

  overflow: auto;
}

.section h1 {
  font-weight: normal;
}

.nav-bar {
  display: flex;
  align-items: center;

  padding-block: 0.5rem;
  padding-inline: 1rem;

  background-color: #06f;
}

.nav-bar > :last-child {
  margin-left: auto;
}

.hero-section {
  position: relative;
  background-image: linear-gradient(180deg, #262B2E, #1E2122);

  height: 100%;
}

.section-1 {
  background-image: linear-gradient(180deg, #293846, #202931);
}

.section-2 {
  background-image: linear-gradient(180deg, #1E1D3D, #160E17);
}

.section-3 {
  background-image: linear-gradient(90deg, #381D3D, #0B2E4F);
}


.hero-section > .wrapper {
  position: relative;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section > .wrapper > .hero-img {
  min-width: 200px;
  width: 100%;
  height: 100%;
}

.hero-img > img {
  object-fit: contain;
}

.hero-section > .wrapper > .info {
  align-self: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  padding-top: 2rem;
}

.info > h1 {
  width: max-content;
  font-size: clamp(2rem, 7vw, 6rem);
}

.info > p {
  max-width: 25rem;
  font-size: clamp(1rem, 4vw, 1.6rem);
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

.section > .mobile-img-section {
  display: none;
  width: 149px;
  width: 149px;

  object-fit: contain;
}

.section:not(.section-3) > .info {
  flex-basis: 45%;
}

.section:not(.section-3) > .hero-img {
  flex-grow: 1;
}

.hero-video * {
  object-fit: contain;
}

.hero-video video {
  padding-block: 1.3rem;
}

.hero-video > :first-child {
  width: 100%;
  height: 100%;
}

.section-3 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 1rem;
}

.section-3 > * {
  flex-basis: auto;
}

.section > p {
  max-width: 55rem;
  font-size: clamp(1rem, 4vw, 1.6rem);
}

.section > .hero-img {
  min-width: 0;
  max-width: 400px;
  height: 100%;
}

.hero-section > .wrapper > .ionic-mobile {
  margin-top: auto;
  align-self: flex-end;
}

.ionic-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.ionic-mobile > img {
  width: 78px;
  height: 78px;
}

.ionic-mobile > .text {
  font-size: 2rem;
  font-family: Karla;
}

.download-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.2em;

  font-size: 2rem;
}

.download-title > .line {
  width: 120%;
  height: 0.1em;

  background-color: #258E9C;
}

.download-img {
  height: 350px;
}

.download-btn {
  padding-inline: 2em;
  padding-block: 0.8em;

  border-radius: 1em;
  border: solid 3px #000;

  background-color: #186161;
}

.download-btn:hover, .download-btn:active {
  background-color: #228c8c;
}

.download-btn:active {
  background-color: #144848;
}

@media (max-width: 900px) {
  .section:not(.section-3) > .hero-img {
    max-width: 200px;
  }
}

@media (max-width: 700px) {
  .section {
    padding-inline: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .ionic-mobile {
    display: flex;
  }

  .hero-section {
    flex-direction: column;
  }

  .section {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 3rem;
  }

  .section-3 {
    padding-top: 1rem;
    row-gap: 2rem;
  }

  .section >  .hero-img {
    display: none;
  }

  .section > .mobile-img-section {
    display: block;
  }

  .section > * {
    flex-basis: auto;
  }

  .section h1 {
    font-size: 2.2rem;
  }

  .section p {
    font-size: 1.3rem;
  }

  .info {
    padding-top: 0;
  }
}
